

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness Centers</title>
</head>
<body>
    <h1>Fitness Centers</h1>
    <ul>
        {% for fitness_center_id in fitness_center %}
        <li>
            <strong>Gym id:</strong> {{ fitness_center_id.id }}<br>
            <strong>Gym Name:</strong> {{ fitness_center_id.name }}<br>
            <strong>Address:</strong> {{ fitness_center_id.address }}<br>
            <strong>Contacts:</strong> {{ fitness_center_id.contacts }}<br>
            <form action="/fitness_center/{{ fitness_center_id.id }}" method="get" style="display:inline;">
                <button type="submit">View Details</button>
            </form>
        </li>
        <hr>
        {% endfor %}
    </ul>

    <a href="/login" >
        <button type="button">Go to Login</button>
    </a>
    <p></p>
    <a href="/registration" >
        <button type="button">Go to Registration</button>
    </a>

</body>
</html>

