<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fitness_center_id_details</title>
</head>
<body>
    <h1>Fitness Center Information:</h1>
    <strong>Name:</strong> {{ fitness_center_id.name }}<br>
    <p></p>

<!--    <strong>Gym id:</strong> {{ fitness_center_id.id }}<br>-->
    <strong>Address:</strong> {{ fitness_center_id.address }}<br>
    <strong>Contacts:</strong> {{ fitness_center_id.contacts }}<br>
    <p>

  <form action="/fitness_center/{{ fitness_center_id.id }}/coaches" method="get" style="display:inline;">
      <button type="submit">Coaches</button>
  </form><br>
  <p>
  <form action="/fitness_center/{{ fitness_center_id.id }}/services" method="get" style="display:inline;">
      <button type="submit">Services</button>
  </form><br>
  <p>
  <form action="/fitness_center" method="get" style="display:inline;">
      <button type="submit">Back to main page</button>
  </form><br>
</body>
</html>