<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fitness_center_id</title>
</head>
<body>
<form action='/fitness_center/id/' method='post'>
  <label for="fitness_center_name">fitness_center_name:</label><br>
  <input type="text" id="fitness_center_name" name="fitness_center_name"><br>
  <label for="address">address:</label><br>
  <input type="text" id="address" name="address">
  <label for="contacts">contacts:</label><br>
  <input type="text" id="contacts" name="contacts">

  <input type="submit" value="Submit">
</form>
</body>
</html>