<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='/get_gim_id_info' method='post'> # why post?!!!!
  <label for="gim_name">gim_name:</label><br>
  <input type="text" id="gim_name" name="gim_name"><br>
  <label for="address">address:</label><br>
  <input type="text" id="address" name="address">
  <label for="contacts">contacts:</label><br>
  <input type="text" id="contacts" name="contacts">

  <input type="submit" value="Submit">
</form>
</body>
</html>