<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='/get_coach_score' method='post'> # why post?!!!!
  <label for="points">points:</label><br>
  <input type="number" id="points" name="points"><br>
  <label for="text">text:</label><br>
  <input type="text" id="text" name="text">
  <textarea class="form-control" id="score" rows="3" required>{{ gjhgfhdgf }}</textarea>


  <input type="submit" value="Submit">
</form>
</body>
</html>