<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='/get_service_info' method='post'> # why post?!!!!
  <label for="service_name">service_name:</label><br>
  <input type="text" id="service_name" name="service_name"><br>
  <label for="duration">duration:</label><br>
  <input type="number" id="duration" name="duration">
  <label for="description">description:</label><br>
  <input type="text" id="description" name="description">
  <label for="price">price:</label><br>
  <input type="number" id="price" name="price">
  <label for="max_attendees">max_attendees:</label><br>
  <input type="text" id="max_attendees" name="max_attendees">


  <input type="submit" value="Submit">
</form>
</body>
</html>