<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='/get_coach' method='post'>
  <label for="fitness_center_id">fitness_center_id:</label><br>
  <input type="text" id="fitness_center_id" name="fitness_center_id"><br>
  <label for="name">name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="age">age:</label><br>
  <input type="number" id="age" name="age">
  <label for="sex">sex:</label><br>
  <input type="text" id="sex" name="sex">

  <input type="submit" value="Submit">
</form>
</body>
</html>