<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='/user/reservations' method='post'>
  <label for="user_id">user_id:</label><br>
  <input type="number" id="user_id" name="user_id"><br>
  <label for="coach_id">coach_id:</label><br>
  <input type="number" id="coach_id" name="coach_id">
  <label for="service_id">service_id:</label><br>
  <input type="number" id="service_id" name="service_id">
  <label for="date">date:</label><br>
  <input type="date" id="date" name="date">
    <label for="time">time:</label><br>
  <input type="time" id="time" name="time">

  <input type="submit" value="Submit">
</form>
</body>
</html>